*{
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.div1{
    background-image: url("div1_back.avif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    width:100%;
}
/* a{
    color: white;
    text-decoration: none;
} */
.topnavbar{
    float: inline-end;
    margin-right: 18%;
    font-size: 20px;
    margin-top: 2%;
    font-family: sans-serif;
    font-weight: 100;
}
.topnavbar a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 5%;
    font-weight: 100;
    font-style:initial;
}
.name{
    text-align: center;
    margin: 12%;
}
.name1 h1{
    color: white;
    font-size: 90px;
    font-weight: 900;
}
.line{
    color: white;
    font-size: 30px;
}
.div2{
    text-align: center;
    margin-top: 2%;
    font-size: 40px;
    font-weight: 300;
    height: 14vh;
}
.div2 img{
    vertical-align:middle;
}
.div3{
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    color: rgb(104, 104, 104);
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content:left;
    margin-left: 10%;
    margin-right: 10%;
}
.flex-container div{
    margin: 10px;
    padding: 30px;
    width: 25%;
    border: 1px solid rgb(228, 228, 228);
    font-size: 20px;
    justify-content: center;
}
.material-symbols-outlined{
    float: right;
    vertical-align: middle;
}
.flex-container a{
    color: rgb(102, 102, 102);
    text-decoration: none;
}