*{
    margin: 10px;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: #121212;
    color: white;
}
header{
    padding: 20px;
    margin: 10px;
    font-size: large;
    text-align: left;
    margin-bottom: 0px;
}

.container{
    align-items: center;
    margin-top: 0px;
    /* text-align: center; */
}

.item{
    align-items: center;
    align-self: center;
    padding: 32px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 0px;
    font-weight: 100;
    padding-top: 0px;
}
#email{
    background-color: #121212;
    color: #121212;
    border-radius: 7px;
    padding: 10px;
    border: 3px solid white;
    width: 95%;
}
#phone{
    color: rgb(108, 252, 108);
}
#next{
    width: 100%;
    height: 50px;
    font-size: 20px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    border-radius: 50px;
    border: 1px solid green;
    background-color: rgb(108, 252, 108);
}
#next:hover{
    border: 3px solid green;
    transform: scale(1.05);
}
#social{
    background-color: #121212;
    color: whitesmoke;
    border-radius: 20px;
    width: 100%;
    height: 50px;
    border: 1px solid white;
    font-weight:200;
    font-size: 18px;
}
#social:hover{
    border: 3px solid white;
    transform: scale(1.05);
}
.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}