h1{
    color: red;
    font-style: italic;
    text-shadow: purple;
    text-align: center;
    align-self: center;
    background-color:chartreuse;
    width: 10;

}
h2{
    color: darkgreen;
    text-align: center;
    text-decoration-style: wavy;
    text-transform: capitalize;
    font-style:italic;
    background-color: burlywood;
}
h3{
    text-align: center;
    text-overflow: clip;
    background-color: cadetblue;

}