body{
    background: scroll;
    background-color:whitesmoke;
}
@media only screen and (max-width: 500px){
    body{
        background: fixed;
        background-color: beige;
    }
    ad1{
        width: 10%;
    }
}
#a{
    text-align: center;
    cursor: pointer;
}
#a:hover{
    color: aqua;
    font-style: italic;
}
#b{
    width: 20%;
    margin: 1px;
    border-right:2px solid black;
    border-bottom: 2px solid black;
    float: left;
}

#e{
    float:left;
    align-self: center;
    width: 50%;
    top: 0%;
    border: 1px solid black;
}
#f{
    text-transform: capitalize;
    font-style: italic;
    text-align: center;
}

#g:hover{
    cursor: pointer;
    width: 400px;
}